<!-- refactoring based on M. Lemos comment on 2016-03-02 -->

<footer>
    <hr />   

    <p>
        <a href="http://validator.w3.org/check/referer">
        Validate this HTML5 page
        </a>
    </p>

    <p>
        For full credit, this page must also pass the tests at
        <a href="http://validator.nu/">
        http://validator.nu/</a>:
        (instructions modified from
        http://stackoverflow.com/questions/16596493/html5-doctype-with-strict)
    </p>
    <ul>
         <li> switch to "text field" in the select box at the
              top left of the form (make sure JavaScript is
              enabled...!) </li>
         <li> paste in the text of your document </li>
         <li> in the Preset field, select: <br />
              "XHTML5 with SVG 1.1 + MathML 3.0 + RDFa Lite 1.1" </li>
         <li> click validate </li>
    </ul>

    <p>
        <a href=
           "http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
            <img src="http://jigsaw.w3.org/css-validator/images/vcss" 
                 alt="Valid CSS3!" height="31" width="88" />
        </a>
    </p>
</footer>
