/*=====
   CSS stylesheet for pages of the pizza order

   by: Shyaka Laniesse
   last modified: 2016-04-21

=====*/

p
{
    margin-left: 20px;
}

legend:hover
{
    color = green;
}

input[type="submit"]:hover
{
    font-family: "Times new roman";
}

input[name="phone1"], input[name="phone2"], input[name="phone3"]
{
    width: 50px;
}

h1, h2
{
    color: green;
    font-family: Serif;
    text-decoration: underline;
    text-align: center;
}

legend
{
    font-style: oblique;
    padding:0.5em;
}

label
{
    width: 8em;
    margin-right: 0.5em;
}

img, input
{
    margin-bottom: 0.3em;
    border-radius: 20px;
}

input[type=submit]
{
    margin-top:0.3em;
}

ul
{
    list-style-type:square
}

img[alt="pizzaimg"]
{
    width:15em;
    height:10em;
    margin-right:0.5em;
    margin-top:1em;
}
