/*=====
   CSS stylesheet for pages using database 328design.sql

   by: Shyaka Laniesse
   last modified: 2016-04-1

=====*/

body
{ 
    background-color: #E5FFCC;
    font-family:"Trebuchet MS";
}

p
{
    margin-left: 20px;
}

p.err
{
    font-family: "Impact";
    font-size: 1.3em;
}

fieldset.newlog
{
    width: 2.7em;
}

fieldset.todo
{
    width: 2.7em;
}

legend
{
    border:inset;
    background-color: #FFFFCC
}

input[type="text"]
{
    font-size: 1em;
    font-style: oblique;
    font-family: "Impact";
}
input[type="submit"]:hover
{
    font-family: "Impact";
    font-size: 1.5em;
}

h1, h2
{
    color: green;
    font-family: Serif;
    text-decoration: underline;
    text-align: center;
}

caption
{
    font-size: 1.5em;
    font-family: 'Comic Sans Ms';
    border: thin solid black;
}
 
table, tr, th, td
{
    border: thin solid black;
    padding: 0.25em;
}

td.char
{
    text-align:center;
}

/*-- and right-justify just the numeric columns --*/

td.numeric
{
    text-align: right;
}

tr:nth-child(even)
{
    background-color:#FFFFCC;
}

tr:hover
{
    background-color: WHITE;
}

fieldset
{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .3em;
    border:outset;
    background-color: #EFFF99;
}

legend
{
    font-style: oblique;
    padding:0.5em;
}

img
{
    border-radius: 20px;
}

label
{
    float: left;
    text-align: right;
    margin-right: 0.5em;
}

input
{
    margin-bottom: 0.3em;
    border-radius: 20px;
}

input[type=submit]
{
    margin-top:0.3em;
    background-color: #FFFF99;
}

#link
{
    border:5px solid black;
    position:static;
    float:left;
}

.head
{
    border-style:dashed;
    width:25%;
}

div
{
    padding-top: 0.5em;
}

select
{
    border-radius: 10px;
    background-color:#FFFFCC;
}
