            <!-- 
                refactored after W8-2 to make textfields required
                (w/thanks to A. Shaikh)
            -->

            <fieldset>
                <legend> Enter Oracle username/password: 
                    </legend>

                <label for="name_entry"> Username: </label>
                <input type="text" name="username" id="name_entry"
                       required="required" /> 
		<br />
                <label for="pwd_entry"> Password: </label>
                <input type="password" name="password" id="pwd_entry" 
                       required="required" />
            </fieldset>
